body {
    padding: 0;
    font-family: "TT Lakes", "TimesNewRoman", sans-serif;
    box-sizing:border-box;
    margin: 0;
}

*::after, *::before {
    box-sizing: inherit;
}


.section-name {
    min-width: 320px;
    height: 80px;
    display: flex;
    
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    background-color: #FFFFFF;
    box-sizing: border-box;
}
.section-name__equipment-repair {
    margin: 0;
    padding: 0;
    white-space: wrap;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #7E7E82; 
    text-transform: uppercase;
    align-self: center;
    margin-left: 24px;
}

.main-inform {
    background-color: #F2F2F2;
    height: 154px;
}
@media (min-width: 767px) {
    .main-inform {
        display: flex;
        background-color: #F2F2F2;
        height: 168px;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }
} 
.swiper {
    width: 240px;
    height: 72px;
    top: 16px;
}
.main-inform .swiper {
    padding-bottom: 36px;
}
@media (min-width: 767px) {
    .main-inform .swiper {
        overflow: visible;
        
        position: static;
        width: auto;
        z-index: 0;
        margin-left: 0;
        
        margin-right: 0;
        transform: none;
        height: auto;
    }
    .swiper-wrapper.brends {
        display: flex;
        overflow: visible;
        
        transform: none;
        justify-content: start;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        background-color: #F2F2F2;
    }
} 
.brends__logo {
    align-self: center;
    margin-left: 16px;
    margin-right: auto;
}

.brends__button {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1' y='1' width='38' height='38' rx='19' stroke='%23FF3E79' stroke-width='2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5 20L17.7071 16.2071C17.3166 15.8166 17.3166 15.1834 17.7071 14.7929L17.7929 14.7071C18.1834 14.3166 18.8166 14.3166 19.2071 14.7071L23.7929 19.2929C24.1834 19.6834 24.1834 20.3166 23.7929 20.7071L19.2071 25.2929C18.8166 25.6834 18.1834 25.6834 17.7929 25.2929L17.7071 25.2071C17.3166 24.8166 17.3166 24.1834 17.7071 23.7929L21.5 20Z' fill='%23FF3E79'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    background-color: #FFFFFF;
    height: 40px;
    width: 40px;
    align-self: center;
    margin-right: 16px;
}

.swiper-slide {
    display: flex;
    flex-shrink: 0;
    width: 240px;
    background-color: #FFFFFF;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-sizing: border-box;
}
@media (min-width: 767px) {
    .swiper-wrapper .swiper-slide {
        flex-shrink: 1;
        flex-wrap: wrap;
        width: 224px;
        height: 72px;
    }
}

.readmore {
    display: none;
}

@media (min-width: 767px) {
    .swiper-pagination {
        display: none;
    }
    .readmore {
        display: block;
    }
}
