body {
    margin: 0;
    padding: 0;
    font-family: "TT Lakes", "TimesNewRoman", sans-serif;
    box-sizing:border-box;
    /*width: 320px;*/
    height: 597px;
}

*::after, *::before {
    box-sizing: inherit;
}

.upperMenu__divider_tablet {
    display: none;
    margin-right: 16px;
}

@media (min-width: 414px) { 
    .upperMenu__divider_tablet {
        display: block;
    }
}

li {
    list-style-type: none;
    
}
.upperMenu {
    margin: 0;
    padding: 0;
    display: flex;
    height: 88px;
    width: 100%;
    background: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
}

.upperMenu__left, 
.upperMenu__right {
    display: flex;
    align-items: center;
}
.upperMenu__mob {
    align-items: center;
    display: none;
}
@media (min-width: 414px) { 
    .upperMenu__mob {
        display: flex;
    }
}
.upperMenu__divider {
    height: 32px;
    width: 2px;
    left: 186px;
    top: 28px;
    border-radius: 1px;
    background: #EAEAEA;
    
}
.upperMenu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: #FF3E79;
    border-radius: 50%;
    border: 0;
    margin: 0 16px;
}
.upperMenu__button + .upperMenu__button {
    margin-left: 0;
}
