@import "stylesheet.css";

body {
    padding: 0;
    font-family: "TT Lakes", "TimesNewRoman", sans-serif;
    box-sizing:border-box;
    margin: 0;
}

*::after, *::before {
    box-sizing: inherit;
}
.header-block {
    min-width: 320px;
    min-height: 56px;
    display: flex;
    width: 100%;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #fff 100%);
    box-sizing: border-box;
    border-top: 1px solid #D9FFF5;
    margin-top: 24px;
}
.header-block__title {
    margin: 0;
    padding: 0;
    white-space: wrap;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #7E7E82; 
    text-transform: uppercase;
    align-self: center;
    margin-left: 16px;
}
@media (min-width: 767px) {
    .header-block__title {
        margin-left: 24px;
    }
}
@media (min-width: 1440px) {
    .header-block__title {
        margin-left: 32px;
    }
}

.brends {
    background-color: #f8f8f8;
    width: 100%;
}
@media (min-width: 767px) {
    .brends {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 0;
        padding-right: 0;
        padding-left: 0;
    }
} 
.brends-swiper {
    padding-bottom: 36px;
    overflow: hidden;
    height: 72px;
    top: 16px;
}
@media (min-width: 767px) {
    .brends-swiper {
        overflow: hidden;
        position: static;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        height: 160px;
        padding-top: 24px;
    }
    .brends-swiper__wrapper {
        box-sizing: border-box;
        display: grid;
        overflow: hidden;
        padding-left: 24px;
        padding-right: 24px;
        
        grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
        gap: 16px 24px;
        width: 100%;
        height: auto;
    }
} 
@media (min-width: 1440px) {
    .brends-swiper__wrapper {
        padding-left: 32px;
        padding-right: 32px;
        gap: 16px 32px;
    }
}
.brends__logo {
    align-self: center;
    margin-left: 16px;
    margin-right: auto;
}

.button-circle {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1' y='1' width='38' height='38' rx='19' stroke='%23FF3E79' stroke-width='2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5 20L17.7071 16.2071C17.3166 15.8166 17.3166 15.1834 17.7071 14.7929L17.7929 14.7071C18.1834 14.3166 18.8166 14.3166 19.2071 14.7071L23.7929 19.2929C24.1834 19.6834 24.1834 20.3166 23.7929 20.7071L19.2071 25.2929C18.8166 25.6834 18.1834 25.6834 17.7929 25.2929L17.7071 25.2071C17.3166 24.8166 17.3166 24.1834 17.7071 23.7929L21.5 20Z' fill='%23FF3E79'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    background-color: #FFFFFF;
    height: 40px;
    width: 40px;
    align-self: center;
    margin-right: 16px;
}

.brends-swiper__slide {
    display: flex;
    flex-shrink: 0;
    width: 240px;
    height: 72px;
    background-color: #FFFFFF;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-sizing: border-box;
}
@media (min-width: 767px) {
    .brends-swiper__wrapper .brends-swiper__slide {
        width: 224px;
        height: 72px;
        justify-self: center;
    }
}
@media (min-width: 1440px) {
    .brends-swiper__wrapper .brends-swiper__slide {
        width: 240px;
    }
}
.readmore__button-arrow--reverse::before {
    transform: rotate(0.5turn);
}

.readmore {
    display: none;
}

@media (min-width: 767px) {
    .brends-swiper__pagination {
        display: none;
    }
    .readmore {
        display: block;
        margin-top: 24px;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        margin-bottom: 16px;
        font-weight: 500;
        align-self: flex-start;
        margin-left: 24px;
    }
    .readmore__button-arrow {
        border: 0;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-weight: 500;
        color: #1B1C21;
        white-space: nowrap;
        background-color: #F8F8F8;
    }
    .readmore__button-arrow::before {
        content: "";
        width: 7.41px;
        height: 10.29px;
        display: inline-block;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3e%3c/svg%3e ");
        margin-right: 16px;
    }
}

@media (min-width: 1440px) {
    .readmore {
        width: 1056px;
    }
}
.brends-swiper.swiper--expanded {
    height: auto;
}
