@import "stylesheet.css";

.equipment {
    width: 100%;
}
.equipment-swiper{
    padding-bottom: 36px;
    overflow: hidden;
    height: 160px;
    top: 16px;
}
@media (min-width: 767px) {
    .equipment-swiper {
        padding-bottom: 0;
        height: 175px;
    }
}
.equipment-swiper__wrapper {
    display: flex;
}
.equipment-swiper__block.swiper-slide {
    width: 240px;
    height: 160px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.equipment-swiper__title {
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #1B1C21;
    margin-top: 16px;
    margin-left: 16px;
}
.button-circle_position {
    margin-left: auto;
    margin-bottom: 16px;
    margin-right: 16px;
    margin-top: auto;
}

@media (min-width: 767px) {
    .equipment {
        display: flex;
        flex-direction: column;
    }
    .equipment-swiper__wrapper {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 24px;
        padding-right: 24px;
        justify-content: space-between;
        height: 100%;
    }
    .equipment-swiper__block {
        width: 224px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
    }
    .equipment-swiper__pagination {
        display: none;
    }
}